/* 먼저 공통 class를 정의합니다. */

.box {
    border: 3px solid #ccc;
    width: 100px;
    height: 100px;
}
/* Copy
첫 번째 상자를 가운데 정렬로 배치해 봅니다.

position 속성과 transform 속성을 활용하여 요소의 가운데에 배치합니다.
calc나 margin을 사용하는 것보다 계산식이 들어가지 않기에 좀 더 편리합니다.
transition 속성을 넣어 부드럽게 변경되도록 합니다. */
.b01 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    transition: all 1s;
}
/* Copy
마우스를 올렸을 때 회전되면서 스케일이 달라지게 적용해봅니다. */

.b01:hover {
    background-color: red;
    transform: translate(-50%, -50%) scale(1.5) rotate(45deg);
    color: #fff;
    font-size: 20px;
}
/* Copy
두 번째 요소는 위칫값과 회전을 적용해 봅니다. */

.b02 {
    background-color: red;
    transform: translate(200px, 150px) rotate(45deg);
}
/* Copy
세 번째 요소는 skew로 비틀기를 해봅니다.

transition 속성을 추가해 롤 오버시 다른 모양이 되게 해봅니다. */
.b03 {
    background-color: greenyellow;
    transform: skew(-30deg);
    transition: all 0.5s cubic-bezier(0.74, 0.05, 0.19, 1.12);
}
/* Copy
skew 값을 수정해 롤오버 해봅니다. */

.b03:hover {
    transform: skew(0deg);
}