* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* 전체를 감싸고 있는 #wrap에 뷰포트의 높이값을 주고, flex layout을 적용해 자식 요소를 가운데로 배치합니다.

flex의 방향을 column으로 변경하여, tag menu와 content 박스가 순차적으로 나올 수 있게 해줍니다. */
#wrap {
    background-color: rgb(127, 100, 65);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* //탭 메뉴의 li 요소를 가로로 배치하기 위해 ul.tab에 flex 레이아웃을 적용합니다. */

ul.tab {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

ul.tab li {
    width: calc(100% / 4);
    text-align: center;
}

ul.tab li a {
    background-color: rgb(213, 170, 113);
    color: #fff;
    display: block;
}
ul.tab li + li {
    border-left: 1px solid antiquewhite;
}

ul.tab li a:hover {
    background-color: rgb(113, 73, 20);
}

.content {
    width: 600px;
    height: 300px;
    background-color: rgb(198, 198, 198);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
