/* 기본값 세팅을 진행합니다. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* Copy
전체 section의 높이값을 주고 flex 설정을 진행합니다.

menu 요소는 정가운데 배치시키도록 합니다. */
section {
    height: 100vh;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Copy
목록들이 나란히 배치될 수 있도록 menu에 flex 설정을 진행합니다. */

ul.menu {
    display: flex;
    width: 900px;
    justify-content: space-around;
}
/* Copy
목록 안에 있는 내용들을 디자인합니다. */

ul.menu li a {
    display: block;
    text-align: center;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.339);
    transition: all 0.3s ease-in-out;
}
/* Copy
transition 속성을 사용하여, 롤오버시 부드럽게 변화되도록 합니다.
 */
ul.menu li a img {
    width: 200px;
    transition: all 0.3s ease-in-out;
}
/* Copy
롤오버 시 요소의 크기가 커지도록 정의합니다. */

ul.menu li a:hover img {
    transform: scale(1.2);
}
/* Copy
롤오버 시 텍스트의 컬러를 변경합니다. */

ul.menu li a:hover {
    color: rgb(225, 211, 255);
}
/* Copy
이미지에 최소 높이값을 정의하여 일정한 크기로 보여지도록 합니다. */

.img_wrap {
    min-height: 250px;
}