#container {
  display: flex;
  border: 3px solid #000;
  height: 600px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item {
  width: 100px;
  background-color: rgb(221, 215, 250);
  border: 3px solid darkblue;
  font-size: 50px;
  text-align: center;
}

.i1 {
  height: 100px;
}
.i2 {
  height: 150px;
}
.i3 {
  height: 80px;
}
.i4 {
  height: 180px;
}
.i5 {
  height: 200px;
}
