<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/jdbc https://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close"
		p:driverClassName="oracle.jdbc.driver.OracleDriver"
		p:url="jdbc:oracle:thin:@localhost:1521/XEPDB1" p:username="mytest" p:password="mytest" />
	
	<!-- 	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="dataSource" />
	 -->
	<bean id="jdbcTemplateGuestMessageDao" class="tommy.spring.guestbook.dao.JdbcTemplateGuestMessageDao"
		c:dataSource-ref="dataSource"/>
		
	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg><ref bean="dataSource"/></constructor-arg>
	</bean>
	
	<!-- 
	<bean id="namedParamGuestMessageDao" class="tommy.spring.guestbook.dao.NamedParamGuestMessageDao">
		<property name="template" ref="namedParameterJdbcTemplate" />
	</bean>
	 -->
	<bean id="simpleJdbcInsert" class="org.springframework.jdbc.core.simple.SimpleJdbcInsert">
		<constructor-arg><ref bean="dataSource"/></constructor-arg>
	</bean>	
	
	<bean id="namedParamGuestMessageDao" class="tommy.spring.guestbook.dao.NamedParamGuestMessageDao">
		<constructor-arg><ref bean="simpleJdbcInsert"/></constructor-arg>
		<property name="template" ref="namedParameterJdbcTemplate" />
	</bean>
</beans>
